<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} %5p %C{1}:%L %m%n" />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
			</Filters>
		</Console>
		<Console name="stderr" target="SYSTEM_ERR">
			<PatternLayout pattern="%d{ISO8601} %5p %C{1}:%L %m%n" />
			<Filters>
				<ThresholdFilter level="WARN" onMatch="ACCEPT" />
			</Filters>
		</Console>
	</Appenders>

	<Loggers>
		<!-- MemoryObserver loggt periodisch (Sekundentakt) die RAM-Nutzung
		     (INFO "used RAM: ... free: ... total: ... max: ..."), das flutet bei
		     langen Laeufen das Log unbrauchbar. Nur diesen Logger auf WARN
		     anheben (unterdrueckt die periodischen INFO-Zeilen), Rest bleibt wie
		     im MATSim-Default. -->
		<Logger name="org.matsim.utils.MemoryObserver" level="warn" />

		<!-- Aus dem MATSim-Default (siehe matsim-*.jar!/log4j2.xml) uebernommen,
		     hier ueberschrieben um obigen Logger zu ergaenzen - target/classes
		     steht im Klassenpfad vor den Dependency-Jars (siehe
		     run-oberlausitz-dresden.sh), diese Datei gewinnt also. -->
		<Root level="${env:LOG_LEVEL:-info}">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="stderr" />
		</Root>
	</Loggers>

</Configuration>
